*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.app{
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    
}